body {
  background-image: url("./images/misc/pattern_background.jpg");
  background-repeat: repeat;
  font-family: 'Noto Sans', sans-serif;
}
/*navigation*/
.navbar {
  background-color: #ffffff;
  font-weight: 700;
  font-size: 1.5rem;
  background-position: center;
  color: #b80404;
  border-top: 2px solid #b80404;
  border-bottom: 2px solid #b80404;
}
.navbar-nav .nav-item a {
  color: #b80404;
}
.nav-item.active a {
  color: #56423d;

  border-bottom: 5px solid #56423d;
}
.nav {
  font-size: 1.4rem;
}
.nav-link.active {
  color: #56423d;
  border-bottom: 5px solid #56423d;
}
.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: #b80404;
  border: 1px solid transparent;
  border-radius: .25rem;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.phone-image {
  padding-right: 10px;
}
.phone-number > a {
  color: #b80404;
  font-size: 1.7rem;
  font-weight: 700;
}
.phone-description{
  color: #b80404;
  font-size: 1rem;
  font-weight: 100;
}
.navbar .navbar-expand-sm {
  border: #b80404;
  border-top: 1px;
}

/*MENU*/
.product-layout {
  background-color: #ffffff;
}
.product {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  background: rgb(121,99,102, 0.2);
}
.product-additional {
  background-color: #ffffff;
}
.price {
  background: rgb(121,99,102, 0.3)
}
.product-layout .caption > h2 {
  font-size: 1.5rem;
}
.description {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 100 !important;
  line-height: 1;
}
.allergens > a {
  font-size: 13px;
  color: #464242!important;
  cursor: pointer;
  text-decoration: underline!important;
}
.item-image {
  max-height: 256px;
}

/*CONTACT*/

/*FOOTER*/
.footer {
  background-color: #ffffff;
  font-size: 1rem;
  color: #b80404;
  border-top: 2px solid #b80404;
  border-bottom: 2px solid #b80404;
}
.facebook:hover {
  opacity: 0.7;
}
